[Unit]
Description=Ether miner service
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory={{ app.path }}
ExecStartPre=/usr/bin/python3.6 make create --nvidia ether ether
ExecStart=/usr/bin/nvidia-docker start -a barrenero-miner-ether
ExecStop=/usr/bin/docker stop -t 2 barrenero-miner-ether
Restart=always
RestartSec=5
