{%- if nvidia -%}
[core]
graphic_cards = 4

[nvidia]
compute_mode = 0
max_power = 100
persistent_mode = 1
powermizer_mode = 1
graphics_clock_offset = 100
memory_transfer_rate_offset = 700
fan_control = 1
fan_speed = 80

{% endif -%}
[ether]
bin = ethminer
args = -U --cuda-parallel-hash 4 --farm-recheck 200
pool_primary = eth-eu1.nanopool.org:9999
pool_secondary = eth-eu2.nanopool.org:9999
wallet = 0x566d41b925ed1d9f643748d652f4e66593cba9c9
worker = WorkerName
email = you@email.com